<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.vbam">
		<category id="system" label="30047" help="30048">
			<group id="1">
				<setting id="vbam_usebios" type="string" label="30001" help="30049">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_forceRTCenable" type="string" label="30002" help="30050">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_gbHardware" type="string" label="30003" help="30051">
					<level>0</level>
					<default>gbc</default>
					<constraints>
						<options>
							<option label="30052">gbc</option>
							<option label="30053">auto</option>
							<option label="30054">sgb</option>
							<option label="30055">gb</option>
							<option label="30056">gba</option>
							<option label="30057">sgb2</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_allowcolorizerhack" type="string" label="30004" help="30058">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="video" label="30059" help="30060">
			<group id="1">
				<setting id="vbam_palettes" type="string" label="30005" help="30061">
					<level>0</level>
					<default>black and white</default>
					<constraints>
						<options>
							<option>black and white</option>
							<option>blue sea</option>
							<option>dark knight</option>
							<option>green forest</option>
							<option>hot desert</option>
							<option>pink dreams</option>
							<option>wierd colors</option>
							<option>original gameboy</option>
							<option>gba sp</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_showborders" type="string" label="30006" help="30062">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
							<option label="16316">auto</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_lcdfilter" type="string" label="30008" help="30063">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_lcdfilter_type" type="string" label="30033" help="30064">
					<level>0</level>
					<default>sRGB</default>
					<constraints>
						<options>
							<option>sRGB</option>
							<option>DCI</option>
							<option>Rec2020</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_lcdfilter_gba_panel" type="string" label="30065" help="30066">
					<level>0</level>
					<default>GBA</default>
					<constraints>
						<options>
							<option>GBA</option>
							<option>GBASP Backlit</option>
							<option>Micro</option>
							<option>DS</option>
							<option>DS-Lite</option>
							<option>NSO</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_lcdfilter_gbc_panel" type="string" label="30067" help="30068">
					<level>0</level>
					<default>GBC</default>
					<constraints>
						<options>
							<option>GBC</option>
							<option>NSO</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_color_change" type="string" label="30034" help="30069">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option>0</option>
							<option>5</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
							<option>60</option>
							<option>65</option>
							<option>70</option>
							<option>75</option>
							<option>80</option>
							<option>85</option>
							<option>90</option>
							<option>95</option>
							<option>100</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_interframeblending" type="string" label="30009" help="30070">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="30071">smart</option>
							<option label="30072">motion blur</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="audio" label="30073" help="30074">
			<group id="1">
				<setting id="vbam_soundinterpolation" type="string" label="30035" help="30075">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_audio_driver" type="string" label="30076" help="30077">
					<level>0</level>
					<default>normal</default>
					<constraints>
						<options>
							<option label="30078">normal</option>
							<option label="30079">null</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_soundfiltering" type="string" label="30036" help="30080">
					<level>0</level>
					<default>5</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_gb_effects_enabled" type="string" label="30037" help="30081">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_gb_effects_echo_enabled" type="string" label="30038" help="30082">
					<level>0</level>
					<default>2</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_gb_effects_stereo_enabled" type="string" label="30039" help="30083">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_gb_effects_surround_enabled" type="string" label="30040" help="30084">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30085" help="30086">
			<group id="1">
				<setting id="vbam_turboenable" type="string" label="30012" help="30087">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_turbodelay" type="string" label="30013" help="30088">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_solarsensor" type="string" label="30014" help="30089">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_astick_deadzone" type="string" label="30015" help="30090">
					<level>0</level>
					<default>15</default>
					<constraints>
						<options>
							<option>0</option>
							<option>5</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_gyro_sensitivity" type="string" label="30016" help="30091">
					<level>0</level>
					<default>100</default>
					<constraints>
						<options>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
							<option>60</option>
							<option>65</option>
							<option>70</option>
							<option>75</option>
							<option>80</option>
							<option>85</option>
							<option>90</option>
							<option>95</option>
							<option>100</option>
							<option>105</option>
							<option>110</option>
							<option>115</option>
							<option>120</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_tilt_sensitivity" type="string" label="30017" help="30092">
					<level>0</level>
					<default>100</default>
					<constraints>
						<options>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
							<option>60</option>
							<option>65</option>
							<option>70</option>
							<option>75</option>
							<option>80</option>
							<option>85</option>
							<option>90</option>
							<option>95</option>
							<option>100</option>
							<option>105</option>
							<option>110</option>
							<option>115</option>
							<option>120</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_swap_astick" type="string" label="30018" help="30093">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="advanced" label="30094" help="30095">
			<group id="1">
				<setting id="vbam_sound_1" type="string" label="30041" help="30096">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_sound_2" type="string" label="30042" help="30097">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_sound_3" type="string" label="30043" help="30098">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_sound_4" type="string" label="30044" help="30099">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_sound_5" type="string" label="30045" help="30100">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_sound_6" type="string" label="30046" help="30101">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_1" type="string" label="30025" help="30102">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_2" type="string" label="30026" help="30103">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_3" type="string" label="30027" help="30104">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_4" type="string" label="30028" help="30105">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_5" type="string" label="30029" help="30106">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_6" type="string" label="30030" help="30107">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_7" type="string" label="30031" help="30108">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="vbam_layer_8" type="string" label="30032" help="30109">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
